<hr>
<section>
    <nav>
        <img alt="My image name" src="./assets/im.jpg">
    </nav>
    
    <article class="itim">
      <h1>คำถาม</h1>
      <p >ถ้า [นาย ก.] [นาย ข.] [นาย ค.] ไปเที่ยวด้วยกัน โดยที่ <br>
    นาย ก. จ่ายค่าอาหาร มื้อเช้า 350 บาท  <br> 
    นาย ข. จ่ายค่ารถ 1,000 บาท <br> 
    นาย ค. ไม่ได้จ่ายเงินระหว่างท่องเที่ยวเลย <br> 
    ทั้ง 3 คนนี้ ต้องการจ่ายให้เท่าๆ กัน  <br> 
    ใครต้องจ่ายเพิ่ม ใครต้องได้คืน เป็นจำนวนเท่าไร <br> 
    ถ้าปวดหัวกับคำถามพวกนี้ ให้เราช่วยสิ คลิกที่ Get Started

    </p>
      <button class="btn btn-primary"
      routerLink="/adduser">Get Started</button>
    </article>
   
  </section>

<hr>