h4 {
  color: #4e90a3;
  font-weight: bold;
  font-family: 'Sriracha', cursive;
}

.cus-footer {
  width: 100% ;
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 0;
  padding: 10px;
  font-family: 'Sriracha', cursive;
}


