h4 {
  color: #4e90a3;
  font-weight: bold;
  font-family: 'Sriracha', cursive;
}

.cus-footer {
  width: 100% ;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: #4e90a3;
  bottom: auto;
  margin-top: 2%;
  // padding: 10px;
  font-family: 'Sriracha', cursive;
}


