

.btn-primary {
  background-color: #e399ad;
}
.btn-success{
  background-color: #5190A2;
}


.inputbg {
  background-color: #f9f8ff
}
h4 {
  color: #5190A2;
  font-weight: bold;
}

.red-c{
  color: rgb(112, 1, 1);
}

.itim{
  font-family: 'Itim', cursive;
  font-size: 18px;

}

.red-t{
  color: rgb(112, 1, 1);
  font-family: 'Itim', cursive;
  font-size: 16px;
}
