
<hr>
<p class="itim">เริ่มจากพิมพ์ชื่อสมาชิก แล้วคลิกที่ "Add Name" จนครบ
  <br>ถ้าพิมพ์ชื่อผิดสามารถคลิก "x" หลังชื่อเพื่อลบได้
  <br>เมื่อได้รายชื่อที่ต้องการจนครบแล้ว จากนั้นคลิกที่ "Next" </p>
  <hr>
<h4 class="md-caption">NameList  <span class="red-t">{{message}}</span></h4>

<input type="text"class="form-control inputbg"
#valuename required  [formControl]="fcon">

<button class="m-2 btn btn-primary"
(click)="adduser()">Add Name</button>
<button class="btn btn-primary"
(click)="countname()"
>Next</button>

<hr class="mt">
<h3 class="btn btn-success form-control">All User</h3>

<ul class="list-group">
  <li class="list-group-item"
   *ngFor="let n of name ; let i = index"
   ><div class="row justify-content-between "><div class="col" >{{i+1}}.  {{n}}</div><div class="col-sm-1"><i class="bi bi-x-square-fill red-c "
    (click)="deletename(n)"></i></div></div> </li>
</ul>
