<div class=" d-flex justify-content-center">
<button class="btn btn-primary  "
routerLink="/adduser">Back To Add Name</button></div>
<hr>
<p class="itim">ขั้นตอนที่ 1.  เลือกชื่อที่ต้องการจากรายการ (ต้อมีข้อมูล)
<br>ขั้นตอนที่ 2.  ใส่รายการ "List" ว่าเป็นค่าใช้จ่ายเรื่องอะไร (มีหรือไม่มีก็ได้)
<br>ขั้นตอนที่ 3.  ใส่ราคาที่จ่ายไป (ต้องมีข้อมูล)
<br>ขั้นตอนที่ 4.  คลิกที่ "Add List" เพื่อเพิ่มข้อมูล เมื่อเพิ่มรายการจนครบ ให้คลิกที่ "Next" เพื่อไปหน้าสรุป
<br><span class="red-t">{{message}}</span>
</p>
<hr>

<div

class="row align-items-start">

    <div class="col">
      <label  for="Name">Name</label>
    </div>
    <div class="col-6">
      <label for="List">List</label>
    </div>
    <div class="col">
      <label for="Price">Price</label>
    </div>

 </div >

  <div [formGroup]="fg" class="row ">

  <div class="col ">

<select class="form-select" #teams>
  <option defalt disabled>Select</option>
  <option *ngFor="let n of name"
  >{{n}}</option>
</select>

  </div>
  <div class="col-6">

    <input type="text" id="List" class="form-control"
    formControlName="List">
  </div>
  <div class="col">
    <input type="text" id="Price" class="form-control"
    formControlName="Price">
  </div>


</div>

<div class="row">
  <div class="col"><button class="btn btn-primary form-control mt-3"
(click)="addlist(teams.value)">Add List</button></div>
<div class="col"><button class="btn btn-primary form-control mt-3"
(click)="gototerminal()">Next</button></div></div>
<hr>

<ol class="list-group">
  <li class='list-group-item' *ngFor="let n of alllist;let i = index">
    <div class="row justify-content-between ">
      <div class="col-md">ชื่อ: {{n.Name}}</div>
      <div class="col-xl">รายการ: {{n.List}} </div>
      <div class="col-md">ราคา: {{n.Price}}</div>
      <div class="col-sm"><i class="bi bi-x-square-fill red-c "
        (click)="RemoveElementFromObjectArray(i)"></i></div></div></li>
</ol>

